@model EventPage.Models.Partner

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Partner</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PartnerID" />
        <div class="form-group">
            <label asp-for="FilePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" name="file" accept="image/*" />
                <span asp-validation-for="FilePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" asp-for="FilePath" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PartnerGroupID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="PartnerGroupID" class="form-control" asp-items="ViewBag.PartnerGroupID"></select>
                <span asp-validation-for="PartnerGroupID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
