@model IEnumerable<EventPage.Models.Partner>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="logo" src="@item.FilePath" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartnerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartnerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartnerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
