@model EventPage.Models.SurveyResult

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pros)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SurveyResultID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
