@model EventPage.Models.SurveyResult

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SurveyResult</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SurveyResultID" />
        <div class="form-group">
            <label asp-for="Cons" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cons" class="form-control" />
                <span asp-validation-for="Cons" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventPartID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EventPartID" class="form-control" asp-items="ViewBag.EventPartID"></select>
                <span asp-validation-for="EventPartID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Pros" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pros" class="form-control" />
                <span asp-validation-for="Pros" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SurveyUserID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SurveyUserID" class="form-control" asp-items="ViewBag.SurveyUserID"></select>
                <span asp-validation-for="SurveyUserID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
