@model IEnumerable<EventPage.Models.SurveyResult>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pros)
            </th>
            <th>
                Author
            </th>
            <th>
                Reviewed
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyUser.OnlyForename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventPart.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurveyResultID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurveyResultID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurveyResultID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
