﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventPage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse pr-5 pl-5">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-link" asp-area="" asp-controller="Home" asp-action="Index">Pokochaj UG</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                @{ if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Partnerzy
                            </a>
                            <div class="dropdown-menu  bg-inverse" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="nav-item nav-link" asp-area="" asp-controller="Partners" asp-action="Index">Partnerzy</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="PartnerGroups" asp-action="Index">Podgroupy</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="PartnerMainGroups" asp-action="Index">Grupy</a>
                            </div>
                        </div>
                        <a class="nav-item nav-link" asp-area="" asp-controller="People" asp-action="Index">Ludzie</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Agenda" asp-action="Index">Agenda</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="EventParts" asp-action="Index">Prelekcje</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Raffles" asp-action="Index">Losowania</a>
                        <a class="nav-item nav-link" asp-area="" asp-controller="Rewards" asp-action="Index">Nagrody</a>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ankiety
                            </a>
                            <div class="dropdown-menu  bg-inverse" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-item nav-link" asp-area="" asp-controller="SurveyUsers" asp-action="Index">Użytkownicy</a>
                                <a class="nav-item nav-link" asp-area="" asp-controller="SurveyResults" asp-action="Index">Wypełnione</a>
                            </div>
                        </div>
                            <a class="nav-item nav-link" asp-area="" asp-controller="RaffleAPI" asp-action="Index">Nowe losowanie</a>
                            }
                            }
                            @await RenderSectionAsync("navlinks", required: false)
</div>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-right">&copy; 2017- Damian Żołądek</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1olzfBykCCHfN1edq_2VAF9VH14aYqM"></script>
    <script src="~/js/raffle.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
