﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventPage</title>
    <link rel="stylesheet" href="~/lib/animate.css/animate.min.css" />
    <link rel="stylesheet" href="~/css/loader.css" />
    <link rel="stylesheet" href="~/lib/SpinKit/css/spinkit.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/siteUser.css" />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse pr-5 pl-5">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-link" href="#intro">Pokochaj UG</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @await RenderSectionAsync("navlinks", required: false)
            </ul>
             @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div class="body-content">
        <div id="loader-wrapper">
            <div id="loader"></div>

            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; 2017 - Damian Żołądek</p>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="~/lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX1olzfBykCCHfN1edq_2VAF9VH14aYqM"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/iframe-resizer/js/iframeResizer.min.js"></script>
    <script src="~/js/loader.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
