﻿@using Microsoft.AspNetCore.Identity
@using EventPage.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @{ if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
            <li>
                <a asp-area="" class="nav-item nav-link" asp-controller="Manage" asp-action="Index" title="Manage">Zarządzaj</a>
            </li>
                    }
                }
            <li>
                <button type="submit" class="btn-link nav-item nav-link">Wyloguj</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
         <a asp-area="" asp-controller="Account" class="nav-item nav-link" asp-action="Login">Zaloguj</a>
        @{ //a asp-area="" asp-controller="Account" class="nav-item nav-link" asp-action="Register">Register</a>
        }
    </ul>
            }
