﻿@{
    @model EventPage.Models.EventPart
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "Ankieta";
}


<section id="survey">
    <div class="container-fluid">
        <div class="row">
            <h2 class="offset-md-1 col-md-7 animated fadeInUpBig">Wypełnij ankiete i wygraj super nagrody!</h2>
            <button class="btn btn-primary btn-lg col-md-3 animated fadeInDownBig" onclick='$(this).parents("section").children(".toggle").toggle("slow")'>Ankieta</button>
        </div>
    </div>
    <h1 class="fullyhidden pt-5 text-center animated fadeInLeft" id="survey-filled">Dziękujemy za wypełnienie ankiet!</h1>
    <form class="toggle pt-5 animated fadeInLeft" id="survey-form" action="/SendSurveyResult/SendNew" onsubmit="SendNewSurvey();return false;">
        <div class="row userdata">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="FullName" class="form-control" placeholder="Imie i nazwisko (wymagane)" required>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" name="Email" placeholder="Email (Wymagany)" required>
                </div>
            </div>
        </div>
        <div class="row userdata">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="number" class="form-control" name="Id" placeholder="ID (Wymagane)" required>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="Status" placeholder="Uczelnia/Firma">
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-4 text-right">Oceniania prelekcja: </label>
            <div class="col-lg-6 col-md-6">
                @Html.DropDownListFor(m => m.EventPartID, (SelectList)ViewBag.Prelections, new { @class = "form-control" })
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <textarea class="form-control" name="Pros" cols="30" rows="8" placeholder="Plusy" required></textarea>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <textarea class="form-control" name="Cons" cols="30" rows="8" placeholder="Minusy" required></textarea>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-md offset-md-5 col-md-2">Wyślij</button>
    </form>
</section>