﻿@{
    ViewData["Title"] = "Pokochaj UG";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@section navlinks{
    <a class="nav-item nav-link" href="#about">Opis</a>
    <a class="nav-item nav-link" href="#agenda">Agenda</a>
<a class="nav-item nav-link" href="#tickets">Bilety</a>
    <a class="nav-item nav-link" href="#Persons">Osoby</a>
    <a class="nav-item nav-link" href="#sponsors">Sponsorzy</a>
    
   @{// <a class="nav-item nav-link" href="#Organisers">Organizatorzy</a>
   }
    <a class="nav-item nav-link" href="#survey">Ankieta</a>
    <a class="nav-item nav-link" href="#contact">Kontakt</a>
}

@Html.Partial("Partials/ModalsPartial")
<section id="intro">
    <div class="text-center container-fluid">
        <img id="mainlogo"src="~/images/logowhite.gif" />
        <h1 class="pt-5">Zakochaj się w IT z UG już 15.02.2017 </h1>
        </div>
</section>
<section id="about">
    <div class="container animated fadeInLeftBig">
        <h5 class="text-center pt-3 pb-2">Zakochaj się w IT z Uniwersytetem Gdańskim (IT Academic Day UG)</h5>
        To bezpłatna konferencja IT organizowana już od wielu lat przez Koło Naukowe
        Kolor, na wydziale Matematyki, Fizyki i Informatyki Uniwersytetu Gdańskiego.
        Z każdym kolejnym rokiem zwiększamy nasze doświadczenie w organizowaniu
        konferencji IT, dlatego gwarantujemy, że tegoroczna edycja ITAD UG podbije
        serca naszych uczestników. W tym roku postanowiliśmy połączyć finał
        ogólnopolskiego konkursu Mat2Tab z jedną z największych konferencji
        organizowanych na Uniwersytecie Gdańskim.
        Nieprzypadkowo wybraliśmy datę 15 lutego 2017 roku. Dzień po Walentynkach
        organizujemy spotkanie dla osób zakochanych w nowych technologiach,
        startupach, programowaniu czy też rozwijaniu własnych umiejętności związanych
        z szeroko pojętym IT.
        <h5 class="pt-4 text-center pb-2">Z każdym kolejnym rokiem idziemy do przodu </h5>
        ale dopiero ta edycja będzie dla
        nas przełomowa. Zakochaj się w IT z UG odbędzie się równocześnie na trzech
        aulach: aula biznesowa, aula technologiczna oraz finał konkursu Mat2Tab.
        Dodatkowo przygotowujemy szereg dodatkowych warsztatów takich jak: zajęcia
        z robotyki, pokazy lotu dronem, kinect & xbox party, nauka programowania
        w 6 godzin.
        Ideą ITAD od wielu lat jest integracja osób dzielących wspólne zainteresowania z
        dziedziny informatyki oraz studenckich środowisk akademickich, budowanie
        relacji ze specjalistami z branży IT, wymiana doświadczeń, zrzeszenie środowiska
        akademicko - biznesowego, zapoznanie z rynkiem pracy i nowoczesnymi
        technologiami.
        W skrócie, wydarzenie odbędzie się jednocześnie na trzech aulach oraz w kilku
        laboratoriach wydziału MFI UG. W pierwszej auli uczestnicy poznają m. in.
        informacje dotyczące startupów oraz jak wygląda zarządzanie projektami w IT.
        Druga aula poświęcona będzie prelekcjom technicznym: m.in nowościom
        programistycznym, czym jest cleancode oraz jakie są najnowsze trendy w
        programowaniu. Trzecia aula to finał ogólnopolskiego konkursu Mat2Tab, na
        której finaliści będą prezentować przed widownią przygotowywane przez wiele
        miesięcy projekty, wykorzystujące tablice multimedialne oraz urządzenia mobilne.
    </div>
    <div class="pt-3"></div>
</section>

 @Html.Partial("Partials/AgendaPartial")   
@Html.Partial("Partials/TicketsPartial")   
@Html.Partial("Partials/PersonsPartial")
@Html.Partial("Partials/SponsorsPartial")


@{//@Html.Partial("Partials/OrganisersPartial")
    }
@Html.Partial("Partials/SurveyPartial")
@Html.Partial("Partials/ContactPartial")
