﻿// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 280px; // Appears 3 times
@width2: 100%; // Appears 2 times


@font-face {
	font-family: navbarFont;
	src: url('../fonts/Resagokr.otf');
}
body {
	padding-bottom: 20px;
	padding-top: 20px;
}
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}
input {
	max-width: @width0;
}
select {
	max-width: @width0;
}
textarea {
	max-width: @width0;
}
.carousel-caption {
	p {
		font-size: 20px;
		line-height: 1.4;
	}
}
.btn-bracketed {
	&::before {
		content: "[";
		display:inline-block;
		padding-right: 0.5em;
	}
	&::after {
		content: "]";
		display:inline-block;
		padding-left: 0.5em;
	}
}
.carousel-inner {
	.item {
		img[src$=".svg"] {
			width: @width2;
		}
	}
}
@media {
	screen {
		and {
			(max-width {
				&:767px) {
					.carousel-caption { display: none;
				}
			}
		}
	}
}
.navbar {
	background-color : @color0;
	border-width: 0;
	font-family: navbarFont;
	font-size: 20px;
	font-weight: 800;
	li {
		&:hover {
			background-color: #6f6f6f;
			color: #067eff;
		}
		&:focus {
			.navbar;
		}
	}
}
.navbar-brand {
	font-size: 35px;
}
.navbar-container {
	padding: 20px 0 20px 0;
}
.navbar.navbar-fixed-top.fixed-theme {
	background: linear-gradient(to right, rgba(0,0,0,0.77) 0%, rgba(0,0,0,0.65) 100%);
	border-color: #080808;
	border-width: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.8);
}
.navbar-brand.fixed-theme {
	font-size: 25px;
}
.navbar-container.fixed-theme {
	padding: 5px 0 5px 0;
}
.navbar, .navbar-brand.fixed-theme, .navbar-container.fixed-theme, .navbar.navbar-fixed-top.fixed-theme, .navbar-brand, .navbar-container {
	-webkit-transition: 0.8s;
	transition: 0.8s;
}
section {
	background-color: #87c5dc;
	display: table;
	height: 100vh;
	margin: 0;
	max-width: none;
	padding: 10%;
	width: @width2;
}
#intro {
	background-color: @color0;
	height: 90vh;
}