@model EventPage.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PersonID" />
        <div class="form-group">
            <label asp-for="About" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Forname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Forname" class="form-control" />
                <span asp-validation-for="Forname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImagePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" name="file" accept="image/*" />
                <span asp-validation-for="ImagePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" asp-for="ImagePath" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Organizer" />
                    <label asp-for="Organizer"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
