﻿<div class="row">
    <div class="col-sm-3">
        <div class="text-left in-raffle pb-2 col-sm-12">
            <h5> Osób w losowaniu: @ViewBag.Users.Count </h5>
        </div>
        <div class="raffleUsers">
            @{ foreach (SurveyUser res in ViewBag.Users)
            {
                    <div class="participant" data-id="@res.SurveyUserID" data-tickets="@res.SurveyResults.Count" data-cid="@res.Id">Id: @res.Id Imie: @res.OnlyForename</div>
                }
            }
        </div>
    </div>
    <div class="raffle col-sm-8">
        <h2 class="name pb-4">Nagrody</h2>
        <ul class="rewards">
            @{ foreach (Rewards rev in ViewBag.Rewards)
                {
                    string used = (rev.Raffle != null) ? "used" : "";
                    string winner = (rev.Raffle != null) ? "data-winner=" + rev.Raffle.WinnerID : "";
                    <li class="reward @used" data-id="@rev.RewardsID" @winner>
                        <img src="@rev.ImagePath" />
                        <h5 class="pt-2 text-center">@rev.Name</h5>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </li>
                }
            }
        </ul>
        <hr />
        <div class="raffle-app">

        </div>
    </div>
</div>



