﻿<form asp-action="DeleteAll">
    <div class="form-actions no-color">
        <input type="submit" value="DeleteAll" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </div>
</form>