@model EventPage.Models.Raffle

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Raffle</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RaffleID" />
        <div class="form-group">
            <label asp-for="RewardID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="RewardID" class="form-control" asp-items="ViewBag.RewardID"></select>
                <span asp-validation-for="RewardID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WinnerID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="WinnerID" class="form-control" asp-items="ViewBag.WinnerID"></select>
                <span asp-validation-for="WinnerID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
