@model IEnumerable<EventPage.Models.Raffle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Winner
            </th>
            <th>
                Reward
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reward.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RaffleID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RaffleID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RaffleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
