@model EventPage.Models.EventPart

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>EventPart</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AgendaID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="AgendaID" class ="form-control" asp-items="ViewBag.AgendaID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hour" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hour" class="form-control" />
                <span asp-validation-for="Hour" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PersonID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PersonID, (SelectList)ViewBag.PersonID, "Without Person", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
