﻿<section id="agenda">
    <h1 class="section-title text-center animated fadeInDown">Agenda</h1>
    <div class="placeholder row col-md-12">

        @{ int count = ViewBag.Agenda.Count;
            bool showDate = false;
            string date = "";
            string tablesize;
            foreach (Agenda agenda in ViewBag.Agenda)
            {
                if (date == "")
                {
                    date = agenda.Date;
                }

                if (agenda.Date != date)
                {
                    showDate = true;
                    break;
                }
            }
            if (count == 1)
            {
                tablesize = "mx-auto col-lg-6";

            }
            else if (count % 2 == 0)
            {
                tablesize = "col-lg-6";
            }
            else
            {
                tablesize = "col-lg-4";
            }
            foreach (Agenda agenda in ViewBag.Agenda)
            {
                <div class="mx-auto text-center @tablesize">
                    @if (showDate)
                    {
                        <h3 class="date">@agenda.Date</h3>
                    }
                    <h2 class="name animated fadeInRightBig">@agenda.Name</h2>
                    <table class="table table-bordered animated fadeInLeftBig">
                        <tbody>
                            @foreach (EventPart evPart in agenda.EventParts.OrderBy(g=> g.value))
                            {
                                <tr>
                                    <td>@evPart.Hour</td>
                                    <td class="col-md-9">@evPart.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    </div>
</section>