﻿<section id="contact">
    <div class="container-fluid">
        <h1 class="section-title text-center animated fadeInUpBig">Kontakt</h1>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 pb-5">
                            <div class="contact_left fadeInLeft" child-animation="fadeInLeft" animation-style="race">
                                <h3 class="pb-1">Dane kontaktowe: </h3>
                                <table class="col-md-12 pt-4 row">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <h5>
                                                    <i class="fa fa-phone"></i>Telefon:
                                                </h5>
                                            </th>
                                            <td>
                                                <h5 class="text-right">+48 508 175 950</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <h5>
                                                    <i class="fa fa-envelope"></i>Email:
                                                </h5>
                                            </th>
                                            <td>
                                                <h5 class="text-right break-words">krystian.trubisz@studentpartner.com</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <h5>
                                                    <i class="fa fa-map-marker"></i>Adres:
                                                </h5>
                                            </th>
                                            <td>
                                                <h5 class="text-right break-words">Wydział MFI UG, ul. Wita Stwosza 57, 80-308 Gdańsk</h5>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div id="map" class="row mt-4"></div>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-5 pb-5">
                            <div class="contact_right wow animated fadeInRightBig">
                                <h5 class="pb-5">Postaramy się odpowiedzieć jak najszybciej na każde twoje pytanie.</h5>
                                <div id="form-messages"></div>
                                <form class="footer_form contact_right" id="contact-form" action="/SendMail/SendNew" onsubmit="SendNewEmail();return false;">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-grooup">
                                                <input type="text" name="name" class="form-control" placeholder="Imie (wymagane)" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" placeholder="Email (Wymagany)" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" name="message" cols="30" rows="8" placeholder="Wiadomość"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-md offset-md-3 col-md-6">Wyślij</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <!-- BEGAIN GOOGLE MAP -->
                <div class="google_map wow fadeInUp">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
    </div>
</section>
