﻿<section id="Organisers">
    <h1 class="section-title text-center animated fadeInLeftBig">Organizatorzy</h1>
    <div class="row col-md-12">
        <img class="offset-md-2 col-md-4 animated zoomIn kolor-logo mx-auto" src="~/images/logo2.png" />
        <div class="description col-md-4 mx-auto text-center">
            <h5>cos tam o kolorze</h5>
        </div>
    </div>
    <hr/>
    <div class="placeholder row col-md-12" child-animation="bounceIn" animation-style="fastrace">
        @foreach (Person Person in ViewBag.Organisers)
        {
            <div class="Person mx-auto pb-5 col-md-4">
                <div class="logo mx-auto">
                    <img class="img-fluid mx-auto" src="@Person.ImagePath" />
                </div>
                <p class="nav-link pt-3 text-center">@Person.FullName</p>
            </div>
        }
    </div>
</section>