﻿<section id="Persons">
    <h1 class="section-title text-center animated fadeInLeftBig">Prelegenci</h1>
    <div class="row pt-4 col-md-12 mx-auto" child-animation="bounceIn" animation-style="fastrace">
        @foreach (Person Person in ViewBag.Persons)
        {
            <div class="Person mx-auto pb-5 col-lg-3 col-md-4 col-sm-5 col-6 mx-auto">
                <div class="flipper">
                    <div class="front">
                        <div class="logo mx-auto">
                            <img class="img-fluid mx-auto" src="@Person.ImagePath" />
                        </div>
                        <p class="nav-link pt-3 text-center">@Person.FullName</p>
                    </div>
                 </div>
                
            </div>
        }
    </div>
</section>
