﻿<section id="sponsors">
    <h1 class="section-title text-center animated fadeInRightBig">Partnerzy</h1>
        @foreach (PartnerMainGroup mainGroup in ViewBag.PartnerGroup)
        {
            foreach (PartnerGroup partnerGroup in mainGroup.PartnerGroups.OrderByDescending(x => x.LogoSize))
            {
                if (partnerGroup.Partners.Count > 0)
                {
                <div class="subCategory col-md-12">
                    <h2 class="name text-center animated bounceInRight" child-animation="bounceIn" animation-style="fastrace">@mainGroup.Name @partnerGroup.Name</h2>
                    <div class="py-4 row categoryMembers mx-auto" child-animation="bounceInLeft" animation-style="fastrace">
                        @foreach (Partner partner in partnerGroup.Partners)
                        {
                            <div class="sponsor size-@partner.PartnerGroup.LogoSize">
                                <div class="sponsor-hover">
                                    <a target="_blank" href="@partner.Website">
                                        <img class="img-fluid logo" src="@partner.FilePath" />
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                }
            }
        }
</section>