﻿<section id="tickets">
    <div class="container-fluid">
        <div class="row">
            <h2 class="offset-md-2 col-md-5 text-center animated fadeInUpBig">Zarejestruj się już teraz.</h2>
            <button class="btn btn-primary btn-lg col-md-3 animated fadeInDownBig" onclick='ToggleIframe($(this),"https://zakochajsiewitzug.evenea.pl?out=1&source=event_iframe")'>Rejestracja</button>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="toggle animated fadeInLeft"></div>
        </div>
    </div>
</section>