﻿.logo {
    height: 140px;
    width: auto;
    max-width: 300px;
}
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-top: 1vw;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.raffleUsers{
    height: 80vh;
    margin: 10px;
    padding-right :50px;
    margin-right: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.raffle{
    width: auto;
    height: 100%;
    padding: 5px;
    margin: 5px;
    display:inline-block;
}

.reward img{
    width: 170px;
    height: 170px;
    overflow-x:scroll;
    overflow-y:hidden;
}

.reward{
    background-color: #ffffff;
    display: inline-block;
     margin:5px;
    padding :5px;
    position: relative;
    border-radius : 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.dimmed{
    filter: brightness(0.5);
}
.rewards{
    padding-bottom: 7px;
}
.reward .fa{
    text-align:center;
    position:absolute;
    top : 0;
    display:none;
    z-index :5;

}
.reward .fa-check{
    padding-top: 20px;
    color: #00ff21;
    font-size: 170px;
}

.reward .fa-times{
    padding-top: 0;
    color: #ff0000;
    font-size: 215px;
}
.selected .fa-check{
    display:block;
}
.selected{
    filter: brightness(0.9);
}

.used .fa-times{
    display:block;
}
.used{
    filter: brightness(0.4);
}
hr{
    margin-top: 0;
}


.hidden{
    display:none;
}
.toggled{
    visibility:hidden;
}
.winner{
    background: rgba(255, 156, 0, 0.80) !important;
    -webkit-transition-duration: 3s;
    transition-duration: 3s;
    transform: scale(1.30,1.35) !important;
    z-index: 5;
}

.raffle-app .participant{
    font-size: 1.5em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    background-color: #c3c3c3;
    position:relative;
    height: 45px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    -webkit-perspective: 80px; /* Chrome, Safari, Opera  */
    perspective: 80px;
}
.raffle-app{
    width: 400px;
  margin: 0 auto;
  overflow:hidden;
  height: 480px;
  padding: 20px;
  padding-left : 45px;
  padding-right : 45px;
}
#hidden-container{
    display:none;
}

ul { 
    display: block;
    white-space: nowrap;
     overflow: auto; 
     }
li { 
     display: inline-block;
     }

ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

ul::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

ul::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.raffleUsers::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.raffleUsers::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.raffleUsers::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}




