﻿.navbar {
    z-index: 300!important
}
.sponsor {
    display: inline-block
}
.currentSection-color {
    color: #4bb1ff!important
}
.currentSection-font {
    font-weight: 700;
    font-size: 17px
}
section {
    width: 100%;
    padding: 3vh;
    display: table;
    margin: 0;
    max-width: none;
    overflow: hidden;
    background: #ffffff;
    height: auto;
}
#decription{
    background: -webkit-linear-gradient(to left, #ECE9E6, #FFF);
    background: linear-gradient(to left, #ECE9E6, #FFF);
}
body {
    background: #282828!important;
     overflow-x: hidden;
}
h1.section-title {
    font-size: 3.2rem;
    color: #0a95fe;
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: initial
}
h2 {
    margin-bottom: 15px;
    margin-top: 5px;
    font-weight: lighter
}
#intro h1,
.navbar-brand {
    font-weight: 700
}
.mobile{
    position:absolute !important;
}
.navbar.navbar-toggleable-md {
    background: rgba(0, 0, 0, .15)!important;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8);
    border-width: 0;
    position: fixed;
    top: auto;
    top: auto;
    width: 100%;
    text-shadow: 1px 0 12px rgba(80, 83, 78, 1)
}
.navbar.navbar-toggleable-md.fixed-theme {
    background: rgba(0, 0, 0, .7)!important;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0, 0, 0, .8)
}
#agenda,
#intro {
    background: url(http://www.planwallpaper.com/static/images/1916561.jpg) center no-repeat fixed
}
#contact,
#tickets,
footer {
    background: #282828!important
}
.navbar-brand.fixed-theme {
    font-size: 1.6rem;
    font-weight: 700
}
.navbar-brand {
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px #000
}
.navbar-container.fixed-theme {
    padding: 5px 0
}
.navbar,
.navbar-brand,
.navbar-brand.fixed-theme,
.navbar-container,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme {
    transition: .4s;
    -webkit-transition: .4s;
}
#intro {
    color: #FFF;
    padding-top: 15vh;
    height: 100vh
}
.sponsor {
    -webkit-filter: grayscale(.6);
    filter: grayscale(.6);
    transition: .2s;
    -webkit-transition: .2s;
    margin: auto;
    padding: 15px;
    height: auto;
    width:auto;
}
.sponsor:hover {
    -webkit-filter: grayscale(.2);
    filter: grayscale(.2);
    transition: .2s;
    -webkit-transition: .2s
}
#sponsors .categoryMembers {
    display: flex;
    justify-content: center
}
#tickets {
    color: #FFF;
    height: auto
}
.navbar-inverse .navbar-nav .nav-link {
    color: #e6e6e6
}
#agenda,
#agenda h1.section-title,
#agenda h2.section-title,
#contact,
footer {
    color: #FFF
}
@media (min-width: 601px) {
    #Persons .logo {
        width: 180px;
        height: 180px;
        overflow: hidden
    }
}
@media (max-width: 600px) {
    #Persons .logo {
        width: 20vw;
        height: 20vw;
        overflow: hidden
    }
}
#Persons img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(.7);
    filter: grayscale(.7)
}
#Persons img:hover {
    -webkit-filter: grayscale(.5);
    filter: grayscale(.5)
}
#agenda table {
    border-collapse: separate;
    border-spacing: 4px;
    border-width: 0
}
#agenda td,
#agenda tr {
    background-color: #FFF;
    color: rgba(0, 0, 0, 1);
    border-color: #0b6db7!important;
    border-width: 0!important;
    border-radius: 3px
}
.animation-restart {
    animation-name: none
}
.hidden {
    visibility: hidden
}
.fullyhidden,
.toggle {
    display: none
}
#map {
    height: 350px
}
footer {
    height: 4vh
}
#contact {
    height: 87vh
}
#Organisers .logo-responsive {
    max-height: 25%;
    width: auto;
    height: auto
}
#Organisers .logo {
    height: 120px;
    width: 120px;
    overflow: hidden
}
#Organisers .Person img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    -webkit-filter: grayscale(.7);
    filter: grayscale(.7)
}
#Organisers .Person img:hover {
    -webkit-filter: grayscale(.5);
    filter: grayscale(.5)
}
.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.dimmed {
    filter: opacity(.45)
}
#evenea {
    -webkit-filter: hue-rotate(315deg) saturate(2) invert(.84);
    filter: hue-rotate(315deg) saturate(2) invert(.84);
    position: relative
}
@media (max-width: 600px) {
    #sponsors .size-1 {
        max-width: 30%;
        max-height: 30%;
    }

    #sponsors .size-2 {
        max-width: 35%;
        max-height: 35%;
    }

    #sponsors .size-3 {
       max-width: 40%;
       max-height: 40%;
    }

    #sponsors .size-4 {
       max-width: 45%;
       max-height: 45%;
    }

    #sponsors .size-5 {
         max-width: 50%;
       max-height: 50%;
    }

    body {
        font-size: 67%;
    }

    h1{
        font-size: 2.1rem;
    }

    h1.section-title {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    .navbar-brand.fixed-theme {
        font-size: 1.3rem;
        font-weight: 700;
    }

    .navbar-brand {
        font-size: 1.7rem;
    }
    .nav-link{
        font-size:1.4rem;
        padding:0;
    }
}
#sponsors .logo {
    max-height: 100%;
    max-width: 100%
}
@media (min-width: 601px) {
    #sponsors .size-1 {
        max-width: 130px;
        max-height: 130px;
    }
    #sponsors .size-2 {
        max-width: 160px;
        max-height: 160px;
    }
    #sponsors .size-3 {
        max-width: 190px;
        max-height: 190px;
    }
    #sponsors .size-4 {
        max-width: 230px;
        max-height: 230px;
    }
    #sponsors .size-5 {
        max-width: 270px;
        max-height: 270px;
    }
    .kolor-logo {
        width: 80vw;
        height: auto
    }

}
@media (min-width: 601px) {
    .kolor-logo {
        width: 40vw;
        height: auto
    }
}

@media (max-width: 300px ){
    body{
        font-size: 40%;
    }
}

#mainlogo{
    max-width:70%;
    max-height:70%;
    height: auto;
    width:auto;
}
#about{
    font-size: 1.2rem;
}
.break-words{
    word-break: break-all;
    overflow-wrap: break-word;
}
.sk-child{
    background-color:#077fdb !important;
}
#survey-form{
    position:relative;
}